body {
    color: #333333;
    padding-top: 5vw;
}

.navbar .container-fluid {
    margin-left: 6vw;
}
.nav-item {
    font-weight: 600;
}

.flex-row-zmiana {
    flex-direction: row;
}

.carousel {
    max-width: 60%;
}
.text-center-nochange {
    text-align: center !important;
}

@media (max-width: 576px) {
    .text-center {
      text-align: left !important; /* Zmiana na text-align-left */
    }
    .align-items-center {
        align-items: start !important;
    }
    .vanish {
        display: none;
    }
    .flex-row-zmiana {
        flex-direction: column;
    }
    .restauracje-contener {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .nav-item {
        margin-left: 6vw;
    }
    .h1 {
        font-size: 3.2rem;
    }
    .h2 {
        font-size: 2rem;
    }
}
@media (min-width: 769px) {
    .nav-item {
        margin-left: 2vw;
    }
    .h1 {
        font-size: 5rem;
    }
    .h2 {
        font-size: 2.2rem;  
    }
    .carousel-inner {
        display: flex;
    }
    .carousel-item {
        margin-right: 0;
        flex: 0 0 50%;
        display: block;
    }
}


.h1 {
    color: #E5A76E;
}

span {
    color: #333333;
}

.info {
    background-color: #E5A76E;
    color: #FBFBFB;
    width: 330px;
}

.info-circle {
    width: 20px;
    height: 20px;
}

.btn-szukaj {
    border-color: #E5A76E !important;
    border-width: 5px !important;
    color: #E5A76E !important;
    font-weight: 600 !important;
    width: 200px !important;
    transition: opacity 0.15s;
}
.btn-szukaj:hover {
    opacity: 0.7;
}

.padding {
    padding-left: 25vw;
}

.gotowanie img {
    width: 40vw;
}


.section {
    padding-bottom: 6vw
}

.opinia {
    background-color: #FBFBFB;
    max-width: 60%;
}

.next {
    background-color: #FBFBFB;
}

.material-symbols-outlined {
    font-size: 40px !important;
}



.restauracje-contener {
    column-gap: 4.5vw;
}

.cien {
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}


.media svg {
    height: 120px;
}

.media,
.footer-media {
    column-gap: 4.5vw;
}

.instagram-color {
    color: #EC5075;
}

.email-color {
    color: #E5A76E;
}

.facebook-color {
    color: #129DEC;
}



footer {
    background-color: #333333;
    color: #FBFBFB;
}

.copyright {
    background-color: #242424;
}
.footer-media svg {
    height: 50px;
}

.pure-color {
    color: #FBFBFB;
}

